/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
body{
    font-family: "Whitney",sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* HEADER */
header{
    background-color: #3161e0;
    height: 100px;
}
.contenitore{
    width: 65%;
    margin: auto;
    background-color: magenta;
}
.col{
    float: left;
    width: 100%;
}
.logo-discord{
    width: 10%;
    line-height: 100px;
}
.login{
    width: 10%;
}
.btn-login{
    color: black;
    background-color: white;
    border-radius: 40px;
    line-height: 100px;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 20px;
    
}
.menu-header{
    width: 80%;
}
.menu-top{
    text-align: center;
}
.menu-top li{
    list-style: none;
    display: inline-block;
    padding-left: 30px;
    line-height: 100px;
}
.menu-top li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}
.logo-discord img{
    vertical-align: middle;
}

/* MAIN */
.jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 150px 0;;
}
.contenuti-jumbo{
    width: 50%;
    margin: auto;
    color: white;
}
.contenuti-jumbo h1{
    margin-top: 30px;
    font-size: 50px;
    line-height: 70px;
}
.contenuti-jumbo p{
    font-size: 30px;
    line-height: 40px;
    padding: 30px 0px;
}
.btn-jumbo{
    margin-top: 50px;
}
.btn-jumbo a{
    text-decoration: none;
    padding: 30px;
    border-radius: 40px;
    margin-right: 20px;
    font-size: 30px;
}
.arrow{
    padding-right: 15px;
    font-size: 40px;
    color: #23272a;
}
.btn-mac{
    color: #23272a;
    background-color: white;
    font-weight: 200;
}
.btn-browser{
    color: white;
    background-color: #23272a;
    font-weight: 200;
}






/* Aggiungere font dal github di Alessandro */
